@model S1_ABD.DTOs.MotoDTO

@{
    ViewData["Title"] = "Editar Moto";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post" class="needs-validation" novalidate>
    <input type="hidden" asp-for="Id" />
    
    <div class="mb-3">
        <label asp-for="Marca" class="form-label">Marca</label>
        <input asp-for="Marca" class="form-control" required/>
        <span asp-validation-for="Marca" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Modelo" class="form-label">Modelo</label>
        <input asp-for="Modelo" class="form-control" required/>
        <span asp-validation-for="Modelo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Ano" class="form-label">Ano</label>
        <input asp-for="Ano" class="form-control" required/>
        <span asp-validation-for="Ano" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Placa" class="form-label">Placa</label>
        <input asp-for="Placa" class="form-control" required/>
        <span asp-validation-for="Placa" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" href="/Moto">Cancelar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}