@model S1_ABD.DTOs.UsuarioDTO

@{
    ViewData["Title"] = "Excluir Cliente";
}

<h2>@ViewData["Title"]</h2>

<h3>Tem certeza que deseja excluir este cliente?</h3>

<div>
    <p><strong>Nome :</strong> @Model.Nome</p>
    <p><strong>CPF :</strong> @Model.Cpf</p>
    <p><strong>Telefone :</strong> @Model.Telefone</p>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a class="btn btn-secondary" href="/Usuario">Cancelar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}