@model S1_ABD.DTOs.UsuarioDTO

@{
    ViewData["Title"] = "Usuário encontrado!";
}

<h2>@ViewData["Title"]</h2>

<p><strong>Nome :</strong> @Model.Nome</p>
<p><strong>CPF :</strong> @Model.Cpf</p>
<p><strong>Telefone :</strong> @Model.Telefone</p>