@{
    ViewData["Title"] = "Usuário não encontrado";
}

<h2>@ViewData["Title"]</h2>
<p>O CPF informado não corresponde a nenhum usuário cadastrado :(</p>
<p>Womp Womp :(</p>
<a class="btn btn-secondary" href="/Usuario">Voltar para lista</a>