@model S1_ABD.DTOs.RegistroUsoDTO

@{
    ViewData["Title"] = "Excluir Registro";
}

<h2>@ViewData["Title"]</h2>

<h3>Tem certeza que deseja excluir este registro?</h3>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a class="btn btn-secondary" href="/RegistroUso">Cancelar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}